<!DOCTYPE html>
<html>
  <head>
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/myprofile.css" />
  </head>
  <body>
    <%- include('header', {userId: userId, isAdmin: isAdmin}) %>
    <div id="llp" style="height: 70px; width: 100%;"></div>
    <div class="backImg">
      <img src="/images/mainbg.jpg" alt="이미지" />
    </div>
    <div id="myprofileMain">
      <div id="user_info">
        <div id="user_id"><%= username %></div>
      </div>
      <div id="change_password">
        <button id="password_button">비밀번호 변경</button>
      </div>
      <div class="container">
        
        <div id="user_information">
          <h2> - 사용자 정보</h2>
          <div class="toDay">
            <table>
              <tr>
                <th>아이디</th>
                <td><span id="user_name"><%= userId %></span></td>
              </tr>
              <tr>
                <th>이름</th>
                <td><span id="user_realname"><%= username %></span></td>
              </tr>
              <tr>
                <th>학번</th>
                <td><span id="user_email"><%= classnum %></span></td>
              </tr>
              <tr>
                <th>휴대전화</th>
                <td><span id="user_phone"><%= phone %></span></td>
              </tr>
            </table>
          </div>
        </div>
        <div id="counseling_records">
          <h2> - 상담 기록</h2>
          <div class="toDay">
            <table id="records_table">
              <tr>
                <th>날짜</th>
                <th>시간</th>
                <th width="165px">내용</th>
              </tr>
              <% contects.forEach(function(contect) { %>
                <tr>
                  <td><%= contect.uploaddate %></td>
                  <td><%= contect.classtime %>교시</td>
                  <td><%= contect.contact %></td>
                </tr>
              <% }); %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/myprofile.js"></script>
  </body>
</html>
